<div id="<%= dom_id project %>">
  <p>
    <strong>Name:</strong>
    <%= project.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= project.description %>
  </p>

  <p>
    <strong>Startime:</strong>
    <%= project.startime %>
  </p>

  <p>
    <strong>Finaltime:</strong>
    <%= project.finaltime %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= project.status %>
  </p>

</div>
